
vio/

vgs/

venc/

vdec_heterogeneous/

vdec/

uvc_app/

traffic_capture/

tde/

snap/

scene_auto/

photo/

mode_switch/

pciv/

lsc_online_cali/

liteos/

hifb/

gpu/

fisheye/

dpu/

dis/

common/

awb_online_calibration/

avs/

audio/

liteos.mak

How to compile.txt

svp/single/

svp/big-little/

svp/multi-core/opencv/makefile_test/

svp/multi-core/opencv/test_opencv/canny.jpg

svp/multi-core/nnie/data/

svp/multi-core/ive/data/

*.wk

svp/multi-core/hirt/resource/

svp/multi-core/dsp/dsp_bin/

*.o

svp/multi-core/nnie/sample_nnie_main

svp/multi-core/nnie/out/canny.jpg

*.modelgroup

svp/multi-core/hirt/sample_runtime_release

*.so

svp/multi-core/ive/

svp/multi-core/dsp/
